---
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
import mobileNav from "../assets/mobile-nav.svg";
import search from "../assets/search.svg";
import close from "../assets/close.svg";
import facebook from "../assets/facebook-dark.svg";
import instagram from "../assets/instagram-dark.svg";
import linkedin from "../assets/linkedin-dark.svg";
import twitter from "../assets/twitter-dark.svg";
import youtube from "../assets/youtube-dark.svg";
import phone from "../assets/phone-green.svg";
---

<nav
  x-data="{open: false}"
  x-init="window.innerWidth < 768 ? open = false : open = true"
  @click.away="open = false"
  x-bind:class="`relative max-md:px-5 max-md:pt-5 max-md:h-screen ${open ? 'max-md:bg-[#F1F5F7]' : 'max-md:bg-[#F5F5F7]'}`"
>
  <div
    class="container flex items-center mx-auto max-md:flex-col max-md:gap-5 md:justify-between max-md:flex-wrap"
  >
    <div class="flex items-center justify-between w-full">
      <a href="/">
        <Image
          src={logo}
          alt="logo"
          class="size-17.5 md:size-45"
          loading="eager"
        />
      </a>
      <div
        class="flex items-center gap-5 text-base [&>a]:hover:text-[#346E65] [&>a]:hover:underline [&>a]:duration-300 md:hidden"
        x-show="open"
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease-in duration-300"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
      >
        <a href="#" class="underline text-[#346E65]">Az</a>
        <a href="#">Ru</a>
        <a href="#">En</a>
      </div>
      <button type="button" @click="open = !open" class="md:hidden">
        <Image src={mobileNav} alt="menu" loading="eager" x-show="!open" />
        <Image src={close} alt="close" loading="eager" x-show="open" />
      </button>
    </div>
    <div
      x-show="open"
      x-transition:enter="transition ease-out duration-300"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100"
      x-transition:leave="transition ease-in duration-300"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
      class="flex flex-col gap-5 md:gap-6 max-md:w-full"
    >
      <div class="flex justify-between md:items-center max-md:flex-col">
        <form action="#" class="max-w-sm max-md:min-w-full join">
          <input
            type="search"
            class="input join-item border-0 py-3.5 rounded-sm focus:outline-none bg-white! max-md:bg-[#F1F1F1] text-sm tracking-wide font-light"
            placeholder="Axtar"
          />
          <button
            type="submit"
            class="btn btn-text join-item rounded-sm py-2.5 px-5 md:px-6 bg-white! max-md:bg-[#F1F1F1] opacity-80"
          >
            <Image src={search} alt="search" loading="eager" />
          </button>
        </form>
        <div
          class="flex items-center gap-5 text-base [&>a]:hover:text-[#346E65] [&>a]:hover:underline [&>a]:duration-300 max-md:hidden"
        >
          <a href="#" class="underline text-[#346E65]">Az</a>
          <a href="#">Ru</a>
          <a href="#">En</a>
        </div>
      </div>
      <div
        class="flex gap-3 text-lg md:items-center md:gap-15 max-md:flex-col md:text-base"
      >
        <a href="#">Haqqımızda</a>
        <a href="#">Məhsullar</a>
        <a href="#">Blog</a>
        <a href="#">Qalereya</a>
        <a href="#">Əlaqə</a>
        <div class="flex items-center gap-5 mt-2 md:hidden">
          <a href="https://www.facebook.com/" target="_blank">
            <Image src={facebook} alt="facebook" loading="eager" />
          </a>
          <a href="https://www.linkedin.com/" target="_blank">
            <Image src={linkedin} alt="linkedin" loading="eager" />
          </a>
          <a href="https://www.x.com/" target="_blank">
            <Image src={twitter} alt="twitter" loading="eager" />
          </a>
          <a href="https://www.instagram.com/" target="_blank">
            <Image src={instagram} alt="instagram" loading="eager" />
          </a>
          <a href="https://www.youtube.com/" target="_blank">
            <Image src={youtube} alt="youtube" loading="eager" />
          </a>
        </div>
        <div class="flex items-center gap-3 md:hidden">
          <Image src={phone} alt="phone" loading="eager" />
          <a href="tel:+994505553644" class="text-base">+994 50 555 36 44</a>
        </div>
      </div>
    </div>
  </div>
</nav>
